.secs.hero { background:url(../../../images/2014/Find-A-Painter/banner.bg.jpg); height:480px; z-index:99; }/*height:576px;*/
.secs article { margin:0 40px; padding-bottom: 30px; }
h3 { margin:38px 0 34px; }
